@font-face {
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik';
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.header-top {
    border-bottom: 1px #CCCCCC solid;
}

.header-top-container {
    width: 1338px;
    height: 95px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 51px;
}

.menu {
    flex-grow: 1;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 57px;
}

.menu-link {
    font-size: 15px;
}

.menu-item:last-child {
    margin-right: 0;
}

.white-button {
    outline: 1px solid rgba(0, 0, 0, 0.5);
    outline-offset: -1px;
}

.orange-button {
    background-color: #FF6336;
    color: #FFFFFF;
}

.white-button, .orange-button {
    display: inline-block;
    width: 160px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}

.header-top-button-box {
    display: flex;
}

.header-top-button {
    width: 120px;
    line-height: 45px;
}

.header-top-button:first-child {
    margin-right: 10px;
}

.header-bottom {
    padding: 129px 0 172px 0;
}

.header-bottom-container {
    display: flex;
}

.header-bottom-content {
    flex: 1;
}

.header-bottom-content>h1 {
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
}

.header-bottom-content>p {
    font-size: 25px;
    line-height: 35px;
    margin: 0 40px 51px 0;
}

.header-bottom-button-box {
    margin-bottom: 25px;
}

.header-bottom-button:first-child {
    margin-right: 10px;
}
.header-bottom-img {
    background-image: url(./images/header/header-img.png);
    width: 759px;
    height: 529px;
    margin-top: 21px;
}

.tangerine-section {
    background-color: #FF9C7D;
}

.companies-box {
    padding: 108px 0 104px 0;
}

.companies-container {
    display: flex;
    flex-direction: column;
}

.companies-container>h2 {
    width: 720px;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 70px 340px;
    text-align: center;
}

.companies-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advantages-box {
    padding: 90px 0 150px 0;
}

.advantages-section {
    display: flex;
    margin-bottom: 250px;
    justify-content: space-between;
    align-items: center;
}

.advantages-section:last-child {
    margin-bottom: 0;
}

.advantages-section:nth-child(even) {
    flex-direction: row-reverse;
}

.advantages-text-section {
    width: 520px;
}

.advantages-text-section>h3 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

.advantages-text-section>p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.control-width-text {
    width: 491px;
}

.shorten-width-title {
    width: 370px;
}

.shorten-width-text {
    width: 450px;
}

.advantages-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.advantages-img-size {
    width: 632px;
    height: 632px;
}

.control-img {
    background-image: url(./images/main/advantages/control.jpg);
}

.shorten-img {
    background-image: url(./images/main/advantages/shorten.jpg);
}

.ensure-img {
    background-image: url(./images/main/advantages/ensure.jpg);
}

.less-work-img {
    background-image: url(./images/main/advantages/less-work.jpg);
}